/* BEGIN RESET DEFAULT*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* END RESET DEFAULT*/

/* BEGIN GENERAL */
.float-left {
  float: left;
}

.clear-both {
  clear: both;
}

.w-50-per {
  width: 50%;
}

.w-33-per {
  width: 33.33%;
}

.w-25-per {
  width: 25%;
}

.product-item img {
  width: 100%;
}
/* END GENERAL */

/* BEGIN HEADER */
.header img {
  width: 200px;
}
/* END HEADER */

/* BEGIN NAVBAR */
.navbar {
  background-color: #000;
  padding: 15px;
}

.navbar-list {
  margin: 0;
  padding: 0;
}

.navbar-list .navbar-item {
  display: inline-block;
  margin-right: 8px;
}

.navbar-list .navbar-item a {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.navbar-list .navbar-item a:hover {
  color: red;
}
/* END NAVBAR */

/* BEGIN CAROUSEL */
.carousel {
  background-image: url("./../images/slider_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}
/* END CAROUSEL */

/* BEGIN INTRO */
.intro .intro__text {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  text-indent: 40px;
  color: gray;
  text-align: justify;
  margin: 15px 0;
}

.intro__text .intro__text--red {
  color: red;
}

.intro .product-item {
  padding: 10px;
}

/* END INTRO */

/* BEGIN BEST SELLER */
.best-seller {
  padding: 30px 0;
}

.best-seller .product-item {
  padding: 5px;
}

.best-seller .seller-title {
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.product-item .item-title {
  font-size: 30px;
  text-transform: uppercase;
  margin: 15px 0;
}

.product-item .item-btn {
  background-color: red;
  border-radius: 5px;
  border: 0;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}
/* END BEST SELLER */

/* BEGIN BANNER */
.banner {
  background-image: url("./../images/nature.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
}

.sale-off {
  color: white;
  text-align: center;
  background-color: rgb(255 0 0 / 50%);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 320px;
  top: 58px;
}

.sale-off .sale-title {
  text-transform: uppercase;
  font-size: 30px;
  margin: 40px;
}

.sale-off .sale-price {
  font-size: 60px;
  font-weight: bold;
  margin: 40px;
}

.sale-off .sale-des {
  font-size: 18px;
  margin: 18px;
}
/* END BANNER */

/* BEGIN SERVICE */
.service {
  padding: 20px 200px;
}

.service-list .service-item {
  text-align: center;
  padding: 15px;
}

.service-item .item-title {
  font-size: 24px;
  margin: 10px 0;
}

.service-item .item-des {
  text-align: justify;
}
/* END SERVICE */

/* BEGIN FOOTER */
.footer {
  color: white;
  background-color: #000;
  padding: 20px;
  text-align: center;
}

.footer .footer-title {
  font-size: 30px;
}

.footer p {
  margin: 5px 0;
}
/* END FOOTER */
